<form method="post">
  <b>Titel</b> <br />
  <input name="title" value="<%= @page.title %>"/> </br>
  <b>Titel in der Zielsprache</b> <br />
  <input name="localized_title" value="<%= @page.localized_title %>"</b> <br />
  <b>Sprache:</b><br />
  <input name="language" value="<%= @page.language || "de" %>" /> <br />
  
  <b>Plugin:</b><br />
  <select name="plugin">
    <% PLUGINS.each_with_index do |plugin, i| %>
      <option value="<%= i %>"><%= plugin.name %></option>
    <% end %>
  </select>
  
  <b>Plugin-Parameter:</b><br />
  <input name="plugin_params" />

  <input type="hidden" name="root" value="<%=@page.root %>" />
  <input type="hidden" name="page_id" value="<%=@page.page_id%>" />

  <input type="submit" />

</form>
